.header{
    background-color: white;
    display: block;
    height: 141px;
    left: 0px;
    line-height: 30px;
    margin-top: 0px;
    min-width: 1280px;
    
    right: 0px;
}
body{
    background-color: royalblue;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}
.logo{
    float: left;
    line-height: 30px;
    height: 93px;
    position: relative;
    text-align: center;
    top: 28px;
    z-index: 1;
}

nav{
    height: 140px;
}


.depth1{
 display: flex;
 justify-content: space-evenly;
 margin-top: 0px;
 height: 140px;
 line-height: 140px;
}
.depth1>li{
    border: 1px solid black;
    width: 120px;
    position: relative;
}
.depth1>li>a{
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.depth1>li>a>.depth2{
    border: 1px solid brown;
            position: absolute;
            left: 0;
            top: 40px;
            width: 100%;
            display: none;
}

